<h1>Welcome to Lesson Tracker</h1>

<p>
    LessonTrack revolutionizes the way music teachers manage their private lessons. 
</p>
<p>
    Seamlessly monitor student progress, send payment reminders, and store valuable resources like sheet music—all in one intuitive app. 
</p>
<p> 
    Focus more on teaching and less on administrative tasks with LessonTrack.
</p>

<button>Login</button>
